<p>employee-table works!</p>
<p>I am table in child component employee-table</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Employee Name</th>
      <th>Role</th>
      <th>salary</th>
      <th>status</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    @for(emp of employeesArr;track $index;let i=$index) {
    <tr>
      <td>{{ emp.id }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.role }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.status }}</td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
