.inactive {
  opacity: 0.7;
  color: #721c24;
}

.manager-bold td{
  font-weight: bold;
  color: blue;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.employee-card {
  width: 18rem;
}
